bin/
.vs/
imgui.ini
*.cap
*.rdbg
.vscode/settings.json
build/
.cache/
compile_commands.json
build_compile_commands.exe
assets/shader_bin/*
!assets/shader_bin/.gitkeep
tmp/
packed_builds/
docs/other
docs/levels/backups
*.blend
*.blend1